<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995123955227-gvicf0m63081en8p9sus4q6kg911ql3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995123955227-gvicf0m63081en8p9sus4q6kg911ql3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAOPrx9daMOxRN_42W2xKMmuvibSafhSwk</string>
	<key>GCM_SENDER_ID</key>
	<string>995123955227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yahumott</string>
	<key>PROJECT_ID</key>
	<string>yahumott</string>
	<key>STORAGE_BUCKET</key>
	<string>yahumott.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995123955227:ios:2227f570d2ef493b171abe</string>
</dict>
</plist>